h1 {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
    margin: ;
    font-weight: lighter;
    text-decoration: ;
    color: lightgrey;
    background-color: rgb(51, 51, 51);
    justify-content: center

}

h2 {
    font-size: ;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: auto;
    font-weight: ;
    color: ;
    background-color: ;

}

p {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: smaller;
    padding: 1px;
    margin: ;
    color: ;
    background-color: ;
}

.logo {
    background-size: cover;
    background-image: url();
    background-color: ;
    height: ;
    width: ;
}
